/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/* 样式 */
html {
    height: 100%;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}


a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* navbar 导航栏*/

 .navbar-default {
    background-color: #3d3d3d;
    border: none;
    border-radius: 0;
    font-size: 20px;
    color: #717171; /*字体颜色*/
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    color: #f2eded;
    float: left;
    padding: 11px 20px;
    font-size: 23px;
    line-height: 20px;
    height: 50px;
}


a {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #f2eded;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #8b8787;
    background-color: transparent;
}

.navbar {
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

.navbar-collapse {
    background-color: #3d3d3d;
}

.navbar-form {
  margin-left: 0px;
  margin-right: 0px;
}

.dropdown-menu {
  font-size: 20px;
  color: #f5eded; /*字体颜色*/
}


/* 图片 */

.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

/* 表格 */

/* 分页 */
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.modal {
  background-image: url('https://cdn.pixabay.com/photo/2016/03/26/13/09/organic-1280537__480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

/* 工作新增及编辑表格 */
.addmodal-container {
  margin-top: 25px;
  padding: 25px;
  margin: 30px auto;
  height: 1030px;
  max-width: 700px;
  width: 100% !important;
  background-color: #539851;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.addmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.addmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.addmodal-container input[type=text], input[type=password] {
  height: 40px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.addmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.addmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.addmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.addmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.addmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

/* footer */
footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 70px;
  background-color: #414a60;
  p {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
  }
}

/* 轮播图 */
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.carousel-control {
    top: 360px;
    bottom: 100%;
    left: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: transparent;
}


/* 提供的工作类别 */
.container2 {
    margin-right: -15px;
    margin-left: -15px;
    margin-top:-20px;
    padding: 40px 30px 100px 30px;
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn1 {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn1:hover, .btn1:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

/* 他们怎么说 */

.container3 {
    margin-top:-20px;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #e6e8ea;
    padding: 40px 30px 100px 30px;
}

.container4 {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
    padding: 40px 30px 100px 30px;
}

/* 被公司录取*/
.person:hover {
    border-color: #f1f1f1;
}

/* 引导 */
.support {
    text-align: center;
    margin: -15px -15px -30px -15px;
    height: 200px;
    background-image: url("https://job-win.herokuapp.com/assets/start-d2be4f033307bc6b24b78ec4d17d1c70c36d08f3875e434d457374b5033267bd.jpg");
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* 短横线 */
.short-line {
  display: block;
  background: #1ecd97;
  border-style: none;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 53;
  width: 50px;
  height: 3px;
  position: relative;
}

/* 前台求职页 */

.col-md-12 {
  padding-top: 100px;
}
