<footer class="navbar-fixed-bottom">
    <p class="text-center">Copyright ©2017 握手网
        <br>Design by 
        <a href="http://xuexiwang123.logdown.com" target=_blank>xiaobo</a>|
      <a href="https://github.com/jisuanjixue/job-listing" class="fa fa-github fa-x" target=_blank></a>
    </p>
</footer>
