<footer class="navbar-fixed-bottom">
    <p class="text-center">Copyright ©2016 
        <br>Design by 
        <a href="http://xuexiwang123.logdown.com" target=_new>xiaobo</a>|
      <a href="https://github.com/jisuanjixue/job-listing" class="fa fa-github fa-x" target=_new></a>
    </p>
</footer>
